<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Hastane_v0._2.Properties.Settings.HastaneConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=Hastane;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Hastane_v0._2.Properties.Settings.HastaneConnectionString1"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Hastane.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>
